<div class="border-b-2 border-b-black border-solid h-[10rem] ">
    <textarea name="" id="" class="resize-none outline-none w-full h-full  placeholder:uppercase text-black placeholder:text-black font-bold" placeholder="Please type your message here..."></textarea>
</div>