---
import SmallTitle from "../texts/SmallTitle.astro"
import Starts from "./Starts.astro"

interface Props{
    img: string
    score: string
    reviews: number
    nameReview: string
}

const {img, score, reviews, nameReview} = Astro.props
---


<div class="flex-center flex-col">
    <img src={img} alt="" class="object-cover">
    <SmallTitle text={nameReview}/>
    <span class="font-bold text-[3.5rem] xs:text-[4rem] leading-[4rem] ">{score}</span>
    <Starts/>
    <span class="work-sans font-normal text-lg">{reviews} reviews</span>
</div>