---
interface Props{
    title: string
    img: string
}

const {title, img} = Astro.props
---


<div class="bg-white text-black">
    <div class="flex flex-col gap-4 justify-center items-center">
        <div class="flex flex-col justify-center items-center gap-1">
            <img src={img} alt="ubicacion">
            <h3 class="uppercase font-extrabold text-black">{title}</h3>
            <div class="p-[2px] bg-dark-vanilla w-[3rem] "/>
        </div>
        <div class="uppercase text-center font-bold text-black">
            <slot name="line-one"/>
            <slot name="line-two"/>
        </div>
        
    </div>
</div>