---
    const {title, text} = Astro.props
---


<div class="card bg-slate-400">
    <h2>{title}</h2>
    <p>{text}</p>
    <h1>Hola hermano</h1>
</div>

<style>
    .card{
        border-radius: 5px;
        border: solid black 0.1rem;
    }
</style>