---
interface Props{
    text: string
    className?: string
    color?: string
}
const {text, className = "", color="text-black"} = Astro.props
---

<h4 class={`uppercase font-bold  ${color} ${className}`}>{text}</h4>
